@charset "utf-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
}

.bolhas {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.bolhas span {
  position: relative;
  width: 15px;
  height: 15px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: cor 120s linear infinite;
  animation-duration: calc(120s / var(--i));
}

.bolhas span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes cor {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 100% 100%;
  z-index: 1;
}

.cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotate 6s linear infinite;
}

.cube div {
  position: absolute;
  width: 200px;
  height: 200px;
  opacity: 0.9;
  background-image: linear-gradient(#134d74aa, #2b5a79cc, #3498db99);
  /*border: 0.5rem solid rgb(11, 11, 83);*/
  border: 0.1rem solid #ff2d75;
}

.l1 {
  transform: translateZ(100px);
}

.l2 {
  transform: rotateY(90deg) translateZ(100px);
}

.l3 {
  transform: rotateY(180deg) translateZ(100px);
}

.l4 {
  transform: rotateX(90deg) translateZ(100px);
}

.l5 {
  transform: rotateY(-90deg) translateZ(100px);
}

.l6 {
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}

@keyframes rotate {
  100% {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }
}

@media screen and (min-width: 481px) and (orientation: landscape) {

  div.l1,
  div.l2,
  div.l3,
  div.l4,
  div.l5,
  div.l6 {
    width: 200px;
    height: 200px;
  }
}